.jumbotron {
  background-color: #ffffff;
  color: black;
  font-family: serif;
  margin-top: 40px;
  margin-bottom: 10px; }

footer {
  padding: 0px 15px 0 10px;
  background-color: #1413138e;
  color: white;
  margin-top: 15px;
  margin-bottom: 0px; }

.footer-down {
  background-color: #1413138e;
  color: white;
  text-align: center; }

.card-hotel {
  flex: 1 200px;
  padding: 2px 10px 5px 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  image-resolution: 180px 100px; }

.btn-reserva {
  background-color: #006d77;
  padding: 2px 0px 2px 0px;
  margin-top: 5px;
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
  color: white; }

.footer-address-icon {
  padding-right: 8px; }

.tab-content {
  padding-top: 15px; }
